.Form-container {
    background-color: hsl(142,90%, 61%);;
    height: 920px;
    width: 700px;
    border-radius: 18px;
    margin-top: 10px;
    margin-left: 650px;
    display: flex;
    flex-direction: column;
  }
  
  .Form-title {
    font-family: "Staatliches", sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);  
    font-size: 2.5rem;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Form-label {
    font-family: "Staatliches", sans-serif;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    /* text-shadow: 10px 10px 20px rgb(0, 0, 0, 3); */
  }
  
  .Form-input {
    height: 25px;
    width: 400px;
    border-radius: 10px;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.945);
    font-size: 16px;
    font-family:  sans-serif;
    box-shadow: 1px 1px 18px #00f000;
  }